---
---

@import "{{ site.theme }}";

:root {
    --sidebar-width: 8em;
    --sidebar-margin: 2rem;
}

.right-sidebar {
    float: right;
    width: var(--sidebar-width);
    padding: 0rem 0rem 0rem var(--sidebar-margin);
}

.centered {
    @include large {
        width: calc(100% - var(--sidebar-width));
        float: left;
    }
}

.main-content {
    @include large {
        max-width: 72rem;
    }
}

.side-btn {
    display: inline-block;
    margin-bottom: 1rem;
    width: 100%;
    color: $section-headings-color;
    background-color: $code-bg-color;
    border-color: $border-color;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: background-color 0.2s;

    &:hover {
        text-decoration: none;
        background-color: rgba(194, 196, 199, 0.35);
    }

    @include large {
        padding: 0.75rem 1rem;
    }

    @include medium {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem;
    }

    @include small {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem;

        + .side-btn {
              margin-top: 1rem;
              margin-left: 0;
        }
    }
}

img.centered {
    display: block;
    margin: 0 auto;
    width: 60%;
    min-width: 16rem;
}

figcaption {
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0rem 0rem;
}
