---
---

@import "{{ site.theme }}";

:root {
    --sidebar-width: 6em;
}

.center {
    width: 85%;
    width: calc(100% - var(--sidebar-width));
    padding: 0% 5% 0% 0%;
    float: left;
}

.right-sidebar {
    width: var(--sidebar-width);
    float: right;
}

.clear-floated {
    clear: both;
    height: 1px;
    font-size: 1px;
    line-height: 1px;
    padding: 0;
    margin: 0;
}

.side-btn {
    display: inline-block;
    margin-bottom: 1rem;
    width: 100%;
    color: $section-headings-color;
    background-color: $code-bg-color;
    border-color: $border-color;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: background-color 0.2s;

    &:hover {
        text-decoration: none;
        background-color: rgba(194, 196, 199, 0.35);
    }

    @include large {
        padding: 0.75rem 1rem;
    }

    @include medium {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem;
    }

    @include small {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem;

        + .side-btn {
              margin-top: 1rem;
              margin-left: 0;
        }
    }
}

img.centered {
    display: block;
    margin: 0 auto;
    width: 60%;
    min-width: 16rem;
}
