---
---

@import "{{ site.theme }}";

:root {
    --sidebar-width: 8em;
    --sidebar-margin: 2rem;
}

.right-sidebar {
    float: right;
    width: var(--sidebar-width);
    padding: 0rem 0rem 0rem var(--sidebar-margin);
}

.centered {
    @include large {
        width: calc(100% - var(--sidebar-width));
    }
}

.main-content {
    @include large {
        max-width: 72rem;
    }
}

.side-btn {
    display: inline-block;
    margin-bottom: 1rem;
    width: 100%;
    color: $section-headings-color;
    background-color: $code-bg-color;
    border-color: $border-color;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: background-color 0.2s;

    &:hover {
        text-decoration: none;
        background-color: rgba(194, 196, 199, 0.35);
    }

    @include large {
        padding: 0.75rem 1rem;
    }

    @include medium {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem;
    }

    @include small {
        padding: 0.75rem;
        font-size: 0.9rem;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: -1rem;
    padding: 1rem;
    text-align: left;
    z-index: 1;
}

.dropdown-content ul {
    list-style: none;
    padding: 0.5rem 1rem;
    margin: 0px;
    color: $section-headings-color;
    background-color: $code-bg-color;
    border-color: $border-color;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
}

.dropdown-item {
    display: block;
    color: $section-headings-color;
}

.dropdown:hover .dropdown-content {
    display: block;
}

img.centered {
    display: block;
    margin: 0 auto;
    width: 60%;
    min-width: 16rem;
}

figcaption {
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0rem 0rem;
}

em.math {
    font-family: serif;
}
